*.a
*.o
*.la
*.lo
*.so
*.pb.h
*.pb.cc
.project
.pydevproject
.cproject
config.log
config.status
libtool
profile/
bin/
logs/
testdata/
.libs/
.deps/
.settings
Makefile.dep
paper/dsm.aux
paper/dsm.bbl
paper/dsm.blg
paper/dsm.dvi
paper/dsm.ent
paper/dsm.log
